# Python Environments
venv
venv/*
__pycache__
examples/__pycache__/constants.cpython-313.pyc
examples/__pycache__

# Psuedo-Code
*pseudo-code*
*/tiles

.DS_Store

.DS_Store
downloads
downloads/tiles
downloads/tiles/*

generate_requirements.sh

mbtiles-creation/data/*
